$color-black : #000;
$color-grey  : #f2f2f2;
$color-gold  : #afa87e;

$font-header    : 'Montserrat';
$font-subheader : 'Lora';
$font-body      : 'Karla';

* { margin: 0; padding: 0; }

body {
    width: 100vw;
    overflow-x: hidden;
    font-family: $font-body;
}

section {
    padding: 60px 0;
    background-color: #fff;
    
    .content-wrapper {
        max-width: 550px;
        padding: 0 40px;
        margin: 0 auto;
    }
    
    p {
        text-align: justify;
    }
}

h2.header {
    font: { family: $font-header; }
    text: { transform: uppercase; }
    text-align: center;
}

h3.subheader {
    font: { family: $font-subheader; style: italic; weight: 700; }
    text-align: center;
    color: $color-gold;
    letter-spacing: 1px;
    
    margin-bottom: 40px;
}

.title {
    position: relative;
    background-color: $color-black;
    height: 1200px;
    width: 100%;
    
    z-index: -1;
    
    .parallax_wrapper {
        position: relative;
        top: 300px;
        max-width: 300px;
        margin: 0 auto;
    }
        
    .parallax_layer {
        position: absolute;
        top: 0;
        left: 0;
        
        color: #fff;
        font-size: 4em;
    }
    
    #layer-0 {
        left: -60px;
    }
    
    img {
        width: 60px;
    }
    
    span {
        display: none;
        
        position: fixed;
        bottom: 30px;
        width: 100%;
        
        text-align: center;
        font: { family: $font-subheader; style: italic; size: .9em; weight: 400; }
        color: #aaa;
        letter-spacing: 1px;
    }
}

.promise {
    background-color: $color-grey;
    padding: 30px 0;
    
    .content-wrapper {
        max-width: 500px;
        padding: 0;
        margin: 0 auto;
    }
    
    li {
        display: inline-block;
        width: 24%;
    }
    
    h2 {
        text-align: center;
        font: { family: $font-subheader; style: italic; size: 1.2em; weight: 700; }
        margin-bottom: 40px;
    }
    
    h3 {
        font: { family: $font-header; size: .9em; }
        text: { transform: uppercase; align: center; }
    }
    
    img {
        display: block;
        width: 60px;
        margin: 0 auto 10px;
    }
}

.product {
    .content-wrapper {
        max-width: 700px;
        padding: 0 10px;
    }
    
    img {
        width: 100%;
    }
}

.banner {
    padding: 0;
    
    img {
        width: 100%;
    }
}

.join-us form {
    max-width: 600px;
    margin: 60px auto 0;
    text-align: center;
    
    h4 {
        color: $color-gold;
        letter-spacing: 1px;
        margin-bottom: 18px;
    }
    
    input, button {
        height: 54px;
    }
    
    input {
        transition: border-color 0.2s;
        box-sizing: border-box;
        border: 1px solid $color-black;
        outline: none;
        
        padding-left: 14px;
        margin-right: 8px;
        width: 70%;
        
        &:focus {
            border-color: $color-gold;
        }
    }
    
    button {
        background-color: $color-gold;
        border: none;
        outline: none;
        
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        width: 25%;
    }
}

.contact {
    background-color: $color-grey;
    padding: 30px 0 50px;
    
    .content-wrapper {
        max-width: 200px;
    }
    
    h3 {
        color: $color-black;
        margin-bottom: 30px;
    }
    
    img {
        width: 30px;
        margin-right: 20px;
    }
    
    a {
        display: block;
        margin-bottom: 20px;
        
        color: $color-black;
        text-decoration: none;
        
        &:hover {
            color: $color-gold;
        }
    }
}